<div id="aboutpage">
<h1>About Forget Me Knot</h1>

<p>Forget Me Knot is a support network for Alzheimer's and Dementia caregivers. It serves as a safe place to connect with each other for resources, advice and overall support. This is your community blog to post/share tips about being an Alzheimer's caregiver and connecting with other caregivers who are going through what you are. Being a caregiver for someone with Alzheimer's Disease is anything but easy, and Forget Me Knot is here for when you need support too.</p>

</div>