<div id="welcomepage">
<h1>Welcome to Forget Me Knot</h1>

<p>If you care for someone with Alzheimer's Disease or Dementia, this is the place for you. <span>Forget Me Knot</span> is a place to connect with other caregivers for resources, advice and an overall support group.</p>


</div>