/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
 *= require pages
 */

@import 'bootstrap';

* {
  margin: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: image-url("graphy.png");
  background-repeat: repeat;
  margin: -25px 0px 0px 0px;
}

img {
  border: 0;
}

header {
  font-family: 'Arvo', serif;
  padding: 0;
  margin: 0;
  width: 850px;
  margin: 50px auto 0px auto;
}

#topnav ul,
#topnav li,
#topnav span,
#topnav a{
  margin: 0;
  padding: 0;
  position: relative;
}
#topnav {
  height: 40px;
  background: #FFFFFF;
  width: 850px;
  margin: 0px auto;
  position: relative;
  margin-top: -20px;
}
#topnav:after,
#topnav ul:after {
  content: '';
  display: block;
  clear: both;
}
#topnav a {
  color: #3d3c3e;
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  padding: 5px 25px;
  text-decoration: none;
}
#topnav ul {
  list-style: none;
}
#topnav li {
  float: left;
}
#nav-left li:first-child {
}
#nav-left li:last-child {
  margin-left: 45px;
}
#nav-right li:first-child {
  margin-right: 45px;
}
#topnav > ul > li > a {
  color: #3d3c3e;
}
#topnav li a:hover {
  color: #29bbae;
}
#topnav li a:active {
  color: #3d3c3e;
}
#topnav li a:visited {
  color: #3d3c3e;
}
#topnav > ul > li:hover:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #29bbae;
  margin-left: -10px;
}
#nav-left {
  float: left;
}
#nav-right {
  float: right;
}

#logo {
  width: 252px;
  height: 127px;
  margin: 0px auto;
  margin-top: -65px;
  position: relative;
  z-index: 100;
}
#logo span {
  visibility: hidden;
}

.login-signup, .logged-in {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #FFFFFF;
  text-align: center;
  height: 32px;
  padding: 5px 10px;
  margin-top: 25px;
  position: relative;
  float: left;

  a {
    text-decoration: none;
    color: #3d3c3e;
  }
  a:active {
  color: #29bbae;
  }
  a:visited {
  color: #3d3c3e;
  }
  a:hover {
  color: #29bbae;
  }
}

.divider,
{
  color: #29bbae;
}

#container {
  height: auto !important;
  min-height: 100%;
  margin: 20px auto -80px auto;
  width: 850px;
  background-color: #FFFFFF;
  position: relative;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
#container:before {
  box-shadow: -15px 0 15px -15px inset;
  -moz-box-shadow: -15px 0 15px -15px inset;
  -webkit-box-shadow: -15px 0 15px -15px inset;
  content: " ";
  height: 100%;
  left: -15px;
  position: absolute;
  top: 0;
  width: 15px;
}
#container:after {
  box-shadow: 15px 0 15px -15px inset;
  -moz-box-shadow: 15px 0 15px -15px inset;
  -webkit-box-shadow: 15px 0 15px -15px inset;
  content: " ";
  height: 100%;
  right: -15px;
  position: absolute;
  top: 0;
  width: 15px;
}

.signin {
  width: 450px;
  padding-top: 25px;
  margin: 0px auto;
}
.signin h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #29bbae;
}
.signin > .control-label {
  text-align: right;
}

.signup {
  width: 600px;
  padding-top: 25px;
  margin: 0px auto;
}
.signup h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #29bbae;
}
.signup > .control-label {
  text-align: right;
}

.password {
  width: 550px;
  padding-top: 25px;
  margin: 0px auto;
}
.password h2 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: #29bbae;
}
.password > .control-label {
  text-align: right;
}


#community {
  margin: 0 auto;
  padding: 20px;
  font-family: 'Source Sans Pro';
  width: 825px;
}
#community  h1 {
  font-family: 'Arvo', serif;
  margin: 0;
  padding: 0 0 25px 0;
  text-align: center;
  color: #22BDAF;
}
.thead {
  color: #3D3C3E;
  font-size: 18px;
}
.trows {
  color: #3d3c3e;
  font-size: 16px;
}
.trows a {
  text-decoration: none;
  color: #3d3c3e;
  font-weight: 600;
}
.trows a:visited {
  color: #3d3c3e;
}
.trows a:hover {
  color: #22bdaf;
}
.trows a:active {
  color: #22bdaf;
}

.sort_links a {
  font-family: 'Arvo', serif;
  color: #3d3c3e;
  text-decoration: none;
}
.sort_links a:visited {
  color: #3d3c3e;
}
.sort_links a:hover {
  color: #22bdaf;
}
.sort_links a:active {
  color: #22bdaf;
}


#userprofile {
  width: 600px;
  margin: 0px auto;
  padding: 20px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
#userprofile h1 {
  font-family: 'Arvo', serif;
  margin: 0;
  padding: 0 0 25px 0;
  text-align: center;
  color: #f13a4b;
}

.usertips a {
  font-family: 'Arvo', serif;
  color: #f13a4b;
  text-decoration: none;
  font-size: 14px;
}
.usertips a:visited {
  color: #f13a4b;
}
.usertips a:hover {
  color: #3d3c3e;
}
.usertips a:active {
  color: #3d3c3e;
}

.userinfo {
  color: #f13a4b;
  font-weight: 700;
}
.userbio {
  text-align: justify;
}

#myfooter, .push {
  height: 80px;
  clear: both;
}
#myfooter {
  font-family: 'Arvo', serif;
  font-size: 12px;
  width: 850px;
  margin: 0px auto;
  background-color: #d7d7d7;
  font-size: 14px;
  color: #3d3c3e;
  position: relative;
  display: block;
  padding: 10px 0 10px 0;
}
#myfooter p {
  width: 500px;
  margin: 0px auto;
  text-align: center;
}
#myfooter a {
  color: #22bdaf;
  text-decoration: none;
}
#myfooter a:visited {
  color: #22bdaf;
}
#myfooter a:hover {
  color: #3d3c3e;
}
#myfooter a:active {
  color: #22bdaf;
}

.alert-danger {
  background: #d6d6d6;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 1px dashed #29bbae;
  color: #3d3c3e;
}

.alert-success {
  background: #d6d6d6;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 1px dashed #ee3b4c;
  color: #3d3c3e; 
}