<div class="tipform">

<h2>Editing tip</h2>

<%= form_for((@tip), class: 'form-horizontal', role: 'form')  do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', @tip %> |
<%= link_to 'Back', tips_path %>

</div>