<div id="userprofile">

  <h1>Tips for Caregivers</h1>

  <% @tips.each do |tip| %>

    <p>
    <span class="userinfo">Title:</span>&nbsp;
      <%= link_to tip.name, tip %>
    </p>

    <p>
    <span class="userinfo">Activity Type:</span>&nbsp;
      <%= tip.activity_type %>
    </p>

    <p class="userbio">
    <span class="userinfo">Description:</span><br>
      <%= tip.description %>
    </p>

    <hr>

  <% end %>

  <span class="usertips"><%= link_to 'Write New Tip', new_user_tip_path(@user) if current_user  %></span>
</div>